body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
#name{
    color: orange;
}

#first-section{
    display: flex;
    background-image: url(images/top-bg.jpg);
    background-repeat: no-repeat;
}

.half-width{
    width: 40%;
    margin-left: 5%;
}
a{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(22, 103, 233), rgb(123, 218, 255));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}

#section-two{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


#section-three{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.section-three-half-width{
    width: 44%;
    margin-left: 3%;
    padding-left: 20px;
    box-shadow: 5px 10px 20px #f3f3f3;
    border-radius: 10px;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, coral);
    border-image-slice: 1;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

h2{
    color: rgb(52, 136, 233);
}

footer{
    text-align: center;
    padding-top: 20px;
}